---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About MDS"
	description="Short intro about Patrick"
	pubDate={new Date('5/3/2025')}
	heroImage="/blog-placeholder-about.jpg"
>
			<p>
				<i>
				<center>Hi there!</center>
				</i>
			</p>
	<p>
		 I’ve been working in the IT industry since I was a teenager (over 10 years!). Throughout that time, I’ve held every position imaginable – 
		from answering phones and troubleshooting printers, to upgrading IT infrastructure and managing data closets, 
		I’ve seen and done it all. Now, I decided I wanted to branch out and use this experience to help bring life to people’s businesses.
	</p>
	<p>
	Ever since I was a kid, what I liked most about the IT world was that every problem felt like a puzzle, and solving that puzzle was one of the most 
	gratifying things to me. Even if it was something as simple as restarting a router to “fix” the WiFi, or 
	rebooting a computer to free up a stuck print job, understanding how all the different components worked together 
	was an amazing teaching tool and taught me about the basics of IT troubleshooting.
	</p>
	<p>
		Now as an adult, I’ve noticed that people around me often have great ideas for projects or businesses, but don’t have an effective toolset
		to market themselves or give them a way to stand out from other people in the same space. Generally, they’re being forced to use
		 ineffective tools for business growth, such as small social media pages, because the more complicated tools have learning curves, or 
		 lack the customization needed to make a truly original product. 
	</p>
	<p>
	What I hope to do here is encourage more people to chase their dreams, grow their audiences, and get their art or products out there and noticed. 
	</p>
	<center>			I hope to work with you soon as well!</center>

</Layout>
