---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<h2> Welcome! I'm glad you're here.</h2>
		<ol>
		
					<p>At McGourty Development Solutions, we take great pride in our ability to deliver you high quality products in the shortest amount of time possible.<br>
						Our services include:
						<ol>
							<li>Brand / Marketing Website Customization and Hosting</li>
							<li>Small Business Oureach Site</li>
							<li>Full Stack Development</li>
						</ol>
						<br>
						<i>I apply industry standard SEO optimization to every project I work on, ensuring that your small business or personal brand will stand
						out in your area of expertise</i>
					</p>

					<p><u>Testimonials:</u></p>


		</main>
		<Footer />
	</body>
</html>
